# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.parcel-cache/
.vite/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/settings.json
.idea/
*.suo
*.user

# Logs
*.log
npm-debug.log*

# Ambiente
.env
.env.local
.env.*.local

# Assets grandes (adicionar quando necessário)
# assets/sounds/*.mp3
# assets/textures/*.png
